.query-result-container {
  height: 75vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.table-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.table-container table {
  width: 100%;
}

th {
  padding-right: 3rem !important;
}

td {
  padding-right: 1rem !important;
}
