.container {
  width: 50%;
  height: 75vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.table {
  width: 100%;
  position: relative;
}

.table-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.table-container table {
  width: 100%;
}

.mat-header-row th {
  position: sticky;
  top: 0;
}
td,
th {
  padding-right: 0px !important;
}
