<mat-card class="group-card">
  <mat-card-header>
    <mat-card-title>{{ model.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <img mat-card-image [src]="imagePath" alt="Photo of a group" />
  <mat-card-actions>
    <a
      *ngIf="!toAssign"
      mat-button
      [routerLink]="['/groups', model.id]"
      class="button-width"
      >Show</a
    >
    <button class="button-width" mat-button *ngIf="toAssign">Assign</button>
  </mat-card-actions>
</mat-card>
