<div
  *ngIf="exercisesData$ | async as data; else loading"
  class="exercises-list"
>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    fxFlex
    fxLayoutGap="16px grid"
  >
    <app-exercise-card
      fxFlex-xl="0 1 25%"
      fxFlex-lg="0 1 33.3%"
      fxFlex.sm="0 1 100%"
      fxFlex.xs="0 1 100%"
      *ngFor="let exercise of data.exercises"
      [model]="exercise"
      [canAssign]="(canAssign$ | async) || undefined"
    >
    </app-exercise-card>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-container *ngIf="exercisesData$ | async as data">
  <mat-paginator
    [pageIndex]="data.pageNumber"
    [length]="100"
    [pageSize]="data.pageSize"
    [pageSizeOptions]="[8, 4]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</ng-container>
