.spacer {
  flex: 1 1 auto;
}

.navbar-button {
  font-size: 1.1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-button {
  font-size: 1.1rem;
  margin-left: 25px;
  margin-right: 10px;
}

.welcome {
  font-size: 1rem;
  margin: 0 10px 0 0;
}

.logo {
  max-height: 75%;
  max-width: 75%;
  margin-left: 10px;
  margin-right: 10px;
}

.mat-button-base {
  height: 40px;
  padding-top: 2px;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: white;
}
