<mat-toolbar color="primary" class="toolbar">
  <img class="logo" src="assets/images/logo-white.png" alt="logo" />

  <a color="accent" [routerLink]="['/']">
    <span class="logo-text">CheckOverSql</span>
  </a>

  <a
    *ngIf="authService.signedIn$ | async"
    routerLinkActive="isButtonActive"
    class="menu-button"
    mat-flat-button
    color="primary"
    [routerLink]="['send-query']"
  >
    Execute Query
  </a>
  <a
    *ngIf="authService.signedIn$ | async"
    routerLinkActive="isButtonActive"
    class="menu-button"
    mat-flat-button
    color="primary"
    [routerLink]="['exercises']"
    >Exercises</a
  >
  <a
    *ngIf="authService.signedIn$ | async"
    routerLinkActive="isButtonActive"
    class="menu-button"
    mat-flat-button
    color="primary"
    [routerLink]="['groups']"
    >Groups</a
  >

  <span class="spacer"></span>
  <ng-container *ngIf="!(authService.signedIn$ | async)">
    <button (click)="openSignInDialog()" class="login-button" mat-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >login</mat-icon
      >

      Sign In
    </button>
    <button (click)="openSignUpDialog()" class="login-button" mat-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >person</mat-icon
      >
      Sign Up
    </button>
  </ng-container>
  <ng-container *ngIf="authService.signedIn$ | async">
    <button
      *ngIf="authService.loggedUser$ | async"
      class="login-button"
      mat-button
      [matMenuTriggerFor]="menu"
    >
      <span class="user-text">{{ authService.loggedUser$.getValue() }}</span>
      <mat-icon aria-hidden="false" aria-label="expand_more"
        >expand_more</mat-icon
      >
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="logout()" mat-menu-item>Sign out</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
