<mat-toolbar color="primary" class="toolbar">
  <img class="logo" src="assets/images/logo-white.png" alt="logo" />

  <a color="accent" [routerLink]="['/']">
    <span class="logo-text">CheckOverSql</span>
  </a>

  <a
    *ngIf="authService.signedIn$ | async"
    class="menu-button"
    mat-flat-button
    color="accent"
    [routerLink]="['send-query']"
  >
    Send query
  </a>
  <a
    *ngIf="authService.signedIn$ | async"
    class="menu-button"
    mat-flat-button
    color="accent"
    [routerLink]="['exercises']"
    >Exercises</a
  >

  <span class="spacer"></span>
  <ng-container *ngIf="!(authService.signedIn$ | async)">
    <a
      routerLink="/login"
      class="register-button navbar-button"
      mat-flat-button
      color="accent"
    >
      Sign In
    </a>
    <a
      routerLink="/register"
      class="login-button navbar-button"
      mat-flat-button
      color="accent"
      >Sign Up</a
    >
  </ng-container>
  <ng-container *ngIf="authService.signedIn$ | async">
    <p *ngIf="authService.loggedUser$ | async" class="welcome">
      Hello, {{ authService.loggedUser$.getValue() }}
    </p>
    <button
      (click)="logout()"
      class="login-button navbar-button"
      mat-flat-button
      color="accent"
    >
      Sign out
    </button>
  </ng-container>
</mat-toolbar>
