<mat-tab-group dynamicHeight>
  <mat-tab label="Public Exercises">
    <ng-template matTabContent
      ><app-exercise-list [typeOfExercise]="getPublicExercisesEnum">
      </app-exercise-list
    ></ng-template>
  </mat-tab>
  <mat-tab label="Created Exercises">
    <ng-template matTabContent
      ><app-exercise-list [typeOfExercise]="getCreatedExercisesEnum">
      </app-exercise-list
    ></ng-template>
  </mat-tab>
  <mat-tab label="Create Exercise">
    <app-create-exercise-form></app-create-exercise-form>
  </mat-tab>
</mat-tab-group>
