<mat-card>
  <mat-card-subtitle fxLayout="row"
    ><p>{{ queryModel.created | date: "medium" }}</p>
    <p style="margin-left: auto">
      {{ queryModel.databaseName }}
    </p></mat-card-subtitle
  >
  <mat-card-content>
    {{ shortenedQuery }}
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button (click)="executeQuery()" mat-flat-button>Execute</button>
    <button
      *ngIf="showQueryButton"
      (click)="openShowQueryDialog()"
      mat-flat-button
    >
      Show Query
    </button>
  </mat-card-actions>
</mat-card>
