<div fxLayout class="form-container">
  <div fxFlex="1 1 auto" class="form-wrapper">
    <div class="form-header">Execute Query</div>
    <form [formGroup]="SendQueryAdminForm" (ngSubmit)="onSubmit()" class="form">
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Select database</mat-label>
        <mat-select formControlName="databaseName">
          <mat-option
            *ngFor="let database of databaseNames"
            [value]="database"
            >{{ database }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Type query</mat-label>
        <textarea rows="10" formControlName="query" matInput></textarea>
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary">Execute</button>
    </form>
  </div>
</div>
