.exercise-card {
  width: 400px;
  max-width: 400px;
  min-width: 400px;
}

.mat-card-content {
  height: 70px;
  margin-top: 20px;
}

.card-container {
  height: 165px;
}

.passed {
  margin-left: auto;
  margin-top: 0.4em;
  color: #4dd0e1;
  margin-right: 0.5em;
  font-size: 1.4em;
}

.header {
  margin-bottom: 8px;
  color: #ffffffb3;
  height: 20px;
}

.description {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.mat-card-title {
  word-wrap: break-word;
  line-height: 1.2em;
}
