<mat-card class="exercise-card">
  <div fxLayout="row" class="header">
    <div *ngIf="model.creationTime">Created: {{ model.creationTime }}</div>
    <div style="margin-left: auto">
      <p>#{{ model.id }}</p>
    </div>
  </div>

  <div class="card-container">
    <mat-card-title>{{ model.title }}</mat-card-title>
    <mat-card-content>
      <p class="description">{{ shortenedDescription }}</p>
    </mat-card-content>
  </div>
  <mat-divider></mat-divider>

  <mat-card-actions>
    <button [disabled]="model.passed" (click)="openSolveDialog()" mat-button>
      {{ buttonText }}
    </button>
  </mat-card-actions>
</mat-card>
