.mat-card-footer {
  display: flex;
  margin-left: 0.2em;
}

.exercise-card {
  max-width: 400px;
}

.mat-card-content {
  height: 60px;
}

.solve-button {
  margin-left: 0.6em;
  margin-top: 0.5em;
}
