.exercise-card {
  width: 400px;
  max-width: 400px;
  min-width: 400px;
  height: 225px;
}

.mat-card-content {
  height: 70px;
  margin-top: 20px;
}

.card-container {
  height: 130px;
}

.header {
  margin-bottom: 8px;
  color: #ffffffb3;
}

.solve-button {
  margin-left: 0.6em;
  margin-top: 0.5em;
}

.description {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.mat-card-title {
  word-wrap: break-word;
  line-height: 1.2em;
}
