<mat-card
  class="exercise-card"
  [ngClass]="{
    'mat-card-passed': model.passed
  }"
>
  <div fxLayout="row" class="header">
    <div *ngIf="model.creationTime">Created: {{ model.creationTime }}</div>
    <div style="margin-left: auto">
      <p>{{ model.databaseName }}</p>
    </div>
  </div>

  <div class="card-container">
    <mat-card-title>{{ model.title }}</mat-card-title>
    <mat-card-content>
      <p class="description">{{ shortenedDescription }}</p>
    </mat-card-content>
  </div>
  <mat-divider></mat-divider>
  <ng-content></ng-content>
  <mat-card-actions>
    <button [disabled]="model.passed" (click)="openSolveDialog()" mat-button>
      {{ buttonText }}
    </button>
    <a
      *ngIf="canAssign"
      mat-button
      [routerLink]="['/exercises/assign', model.id]"
      >Assign</a
    >
    <button
      [disabled]="!model.lastAnswer"
      (click)="openLastQueryDialog()"
      mat-button
    >
      Last Answer
    </button>
  </mat-card-actions>
</mat-card>
