.spacer {
  flex: 1 1 auto;
}

.navbar-button {
  font-size: 1.1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.logo-text {
  margin-right: 20px;
}

.isButtonActive {
  background-color: #03383d;
}

.login-button {
  margin-right: 1em;
}

.menu-button {
  font-size: 1.1rem;
}

.welcome {
  font-size: 1rem;
  margin: 0 10px 0 0;
}

.logo {
  max-height: 65%;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.user-text {
  font-size: 1rem;
  margin-left: 0.4rem;
}
