<div *ngIf="!isBusy" class="exercises-list">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex-xl="25%"
      fxFlex-lg="33%"
      fxFlex.sm="50%"
      fxFlex.xs="100%"
      *ngFor="let exercise of data.items"
    >
      <app-exercise-card [model]="exercise"> </app-exercise-card>
    </div>
  </div>
</div>
<mat-spinner *ngIf="isBusy"></mat-spinner>

<mat-paginator
  [length]="data.totalCount"
  [pageSize]="pageSize"
  [pageSizeOptions]="[8, 4]"
  (page)="onPageChange($event)"
  aria-label="Select page"
>
</mat-paginator>
