.form-container {
  width: 100%;
  margin-top: 50px;
}

.form-wrapper {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20%;
}

.form-header {
  font-size: 1.4rem;
  text-align: center;
}

.form {
  padding-top: 25px;
  text-align: center;
}

mat-form-field.mat-form-field {
  width: 100%;
}
