<div class="form-container">
  <div class="form-wrapper">
    <div class="form-header">Sign In</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          name="email"
          autocomplete="off"
          type="email"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          autocomplete="off"
          formControlName="password"
        />
      </mat-form-field>
      <button mat-flat-button color="primary">Submit</button>
    </form>
  </div>
</div>
