@import "~@angular/material/theming";
@include mat-core();

$my-theme-primary: mat-palette($mat-cyan, 900);
$my-theme-accent: mat-palette($mat-cyan, 200);
$my-theme-warn: mat-palette($mat-red);
$checkoversql-app-theme: mat-dark-theme(
  $my-theme-primary,
  $my-theme-accent,
  $my-theme-warn
);
@include angular-material-theme($checkoversql-app-theme);
