<mat-card>
  <mat-card-title>{{ model.groupName }}</mat-card-title>
  <mat-card-subtitle
    ><p>{{ model.sentAt | date: "medium" }}</p>
    <span fxLayout="column">
      <span>From: {{ model.sender }}</span>
      <span>Role: {{ model.roleName }}</span>
      <span>Status: {{ model.status }}</span>
    </span>
  </mat-card-subtitle>
  <mat-card-actions fxLayoutGap="1em">
    <button
      [disabled]="model.status === 'Sent' ? false : true"
      (click)="accept()"
      mat-flat-button
      color="primary"
    >
      Accept
    </button>
    <button
      [disabled]="model.status === 'Sent' ? false : true"
      (click)="reject()"
      mat-flat-button
      color="warn"
    >
      Reject
    </button>
  </mat-card-actions>
</mat-card>
