.assignments-container {
  padding: 1.5rem;
  background-color: #424242;
  border: solid 1px rgba(255, 255, 255, 0.12);
}

.mat-list-base {
  padding-top: 0px;
  flex-direction: row !important;
}

.mat-selection-list {
  margin-top: 1em;
  margin-bottom: 2em;
}

.group-container {
  margin-top: 1rem;
}
