<h1>{{ data.title }}</h1>
<h2>Exercise:</h2>
<p>{{ data.description }}</p>
<br />
<h2>Answer:</h2>
<p>{{ data.answer }}</p>
<br />
<h2>Max Points:</h2>
<p>{{ data.maxPoints }}</p>
<br />
<form fxLayout="column" [formGroup]="checkDialogForm" (ngSubmit)="onSubmit()">
  <mat-form-field color="accent" appearance="fill">
    <mat-label>Points</mat-label>
    <input formControlName="points" matInput />
  </mat-form-field>
  <mat-form-field color="accent" appearance="fill">
    <mat-label>Remarks</mat-label>
    <textarea rows="5" formControlName="remarks" matInput></textarea>
  </mat-form-field>
  <button type="submit" mat-flat-button color="primary">Send</button>
</form>
